@{
    ViewData["Title"] = "Documentation Page";
}

<div class="card" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">
        <h1>Головне про проект</h1>
        <div class="heading-elements" bis_skin_checked="1">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" aria-expanded="true" bis_skin_checked="1" style="">
        <div class="card-body" bis_skin_checked="1">
            <p class="card-text">
                Даний проект має навчальний та характер та призначений для демонстрації того, як можна поєднати 
                технології машинного навчання, які застосовуються у комп'ютерному зорі та веб застосунок. Проект здатний оброблювати 
                фото користувачів, при чому надає варіанти завантаження фото, щоб дати право вибору користувачеві, а саме завантажити
                фото чи зробити його.
            </p>
        </div>
    </div>
</div>

<div class="card" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">
        <h4 id="basic-forms" class="card-title">Технології, на яких грунтується нейронна мережа</h4>
        <div class="heading-elements" bis_skin_checked="1">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" aria-expanded="true" bis_skin_checked="1" style="">
        <div class="card-body" bis_skin_checked="1">
            <p class="card-text">
                Для даного типу проекту було розглянуто багато варіантів реалзіції нейронної мережі для розпізнавання образів.
                У багатьох є свої плюси та мінуси, але вибір зупинився на YOLOv8.
            </p>
            <p class="card-text">
                YOLOv8 є застосуванням принципу "одного погляду" (One-Shot Detection), що дозволяє ефективно та точно визначати 
                об'єкти на зображеннях та відео. У порівнянні з попередніми версіями, YOLOv8 вражає своєю швидкодією та точністю,
                роблячи його ідеальним вибором для різноманітних завдань розпізнавання образів.
            </p>
            <p class="card-text">
                Наш проект використовує YOLOv8 для розпізнавання образів у реальному часі. В основі системи лежить нейронна мережа,
                навчена на великому обсязі даних для впевненого та швидкого визначення об'єктів на зображеннях.
            </p>
            <p class="card-text">
                Основні Переваги YOLOv8:
                <ul>
                    <li>
                        Швидкість та Продуктивність: Алгоритм YOLOv8 дозволяє обробляти великі об'єми даних у реальному часі,
                        забезпечуючи ефективну та миттєву відповідь.
                    </li>
                    <li>
                        Висока Точність Розпізнавання: Мережа YOLOv8 демонструє високу точність у визначенні
                        різних класів об'єктів, що робить її відмінним вибором для складних завдань розпізнавання.
                    </li>
                    <li>
                        ожливість Використання на Різних Платформах: YOLOv8 є високоперформансним та гнучким алгоритмом,
                        що робить його ідеальним для застосування в різних середовищах та платформах.
                    </li>
                </ul>
            </p>
            <p class="card-text">
                <strong>Детальніше про YOLOv8: <a href="https://docs.ultralytics.com/">https://docs.ultralytics.com/</a></strong>
            </p>
        </div>
    </div>
</div>

<div class="card" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">
        <h4 id="basic-forms" class="card-title">Asp.Net Core MVC</h4>
        <div class="heading-elements" bis_skin_checked="1">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" aria-expanded="true" bis_skin_checked="1" style="">
        <div class="card-body" bis_skin_checked="1">
            <p class="card-text">
                Asp.Net Core MVC є основою нашого веб-проекту, надаючи потужність та гнучкість для швидкої та ефективної розробки 
                веб-додатків. Використання патерну MVC (Model-View-Controller) дозволяє легко розділити логіку, представлення та 
                дані, щоб забезпечити чистий та структурований код.
            </p>
            <p class="card-text">
                Основні Властивості та Переваги Asp.Net Core MVC:        
                <ul>
                    <li>
                        Гнучкість та Розширюваність: Asp.Net Core MVC дозволяє легко налаштовувати та розширювати функціонал за 
                        допомогою вбудованого конфігурування та власних middleware.
                    </li>
                    <li>
                        Кросплатформенність: Підтримка кросплатформенності дозволяє розгортати веб-додатки на різних операційних 
                        системах, що робить їх більш доступними.
                    </li>
                    <li>
                        Вбудована Підтримка Додаткових Технологій: Інтеграція з іншими технологіями, такими як SignalR, Swagger 
                        та інші, робить Asp.Net Core MVC відмінним вибором для різних веб-проектів.
                    </li>
                </ul>               
            </p>
            <p class="card-text">
                Ще одним великим плюсом платформи .Net і в часності фреймоврку Asp.Net Core є мернеджер пакетів NuGet, який дозволяє 
                підключати та користуватися бібліотеками інших користувачів. Саме за допомогою цього функціоналу у проект було 
                імплантовано технологію YOLOv8.
            </p>
            <p class="card-text">
                <strong>Більш детальніше про пакет розширення для YOLOv8: <a href="https://www.nuget.org/packages/YoloV8/3.0.0?_src=template">https://www.nuget.org/packages/YoloV8/3.0.0?_src=template</a></strong>
            </p>
            <p class="card-text">
                <strong>Більш детальніше про Asp.Net Core: <a href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-8.0">https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-8.0</a></strong>
            </p>
        </div>
    </div>
</div>

<div class="card" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">
        <h4 id="basic-forms" class="card-title">Entity Framework Core</h4>
        <div class="heading-elements" bis_skin_checked="1">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" aria-expanded="true" bis_skin_checked="1" style="">
        <div class="card-body" bis_skin_checked="1">
            <p class="card-text">
                Entity Framework Core виступає в якості ORM (Object-Relational Mapping) рішення у нашому проекті, дозволяючи легко 
                та ефективно взаємодіяти з базою даних. Його використання дозволяє зосередитися на логіці додатку, а не на роботі з
                базою даних.
            </p>
            <p class="card-text">
                Основні Переваги Entity Framework Core:
                <ul>
                    <li>
                        Легкість Використання та Конфігурування: Простий синтаксис та можливість швидко налаштовувати зв'язки між 
                        об'єктами та таблицями бази даних.
                    </li>
                    <li>
                        Підтримка Різних Баз Даних: Entity Framework Core підтримує багато різних систем управління базами даних, що дає можливість вибрати
                        оптимальне рішення для проекту.
                    </li>
                    <li>
                        Міграції та Контексти: Вбудована підтримка міграцій спрощує роботу з еволюцією схеми бази даних.
                    </li>
                </ul>
            </p>
            <p class="card-text">
                <strong>Більш детальніше про Entity Framework Core: <a href="https://learn.microsoft.com/en-us/ef/">https://learn.microsoft.com/en-us/ef/</a></strong>
            </p>
        </div>
    </div>
</div>

<div class="card" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">
        <h4 id="basic-forms" class="card-title">Chameleon Admin</h4>
        <div class="heading-elements" bis_skin_checked="1">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" aria-expanded="true" bis_skin_checked="1" style="">
        <div class="card-body" bis_skin_checked="1">
            <p class="card-text">
                Даний проект на клієнтській стороні має реалізацію за допомогою спеціального макету Chameleon Admin.
            </p>
            <p class="card-text">
                Chameleon Admin - це шаблон для створення веб-сайтів і веб-додатків, який використовує Bootstrap 5. Він 
                призначений для створення сучасних і стильних інтерфейсів з мінімальними зусиллями.
            </p>
            <p class="card-text">
                Chameleon Admin включає в себе широкий спектр компонентів і інструментів, які можна використовувати для 
                створення будь-якого типу веб-сайту або веб-додатку. До них відносяться:
            </p>
            <p class="card-text">
                Модульний дизайн - дозволяє легко налаштовувати шаблон відповідно до ваших потреб.
                Підтримка Bootstrap 5 - забезпечує сумісність з останніми версіями Bootstrap.
                Готові компоненти - дозволяють швидко і легко створювати складні інтерфейси.
                Модулі - дозволяють додавати додаткові функції і можливості до шаблону.
                Розширені можливості - включають в себе такі функції, як підтримка тем, редактор кода і багато іншого.
                Chameleon Admin є хорошим вибором для розробників, які хочуть створити сучасний і стильний інтерфейс для свого 
                веб-сайту або веб-додатку. Він пропонує широкий спектр компонентів і інструментів, які можна використовувати для 
                створення будь-якого типу інтерфейсу.
            </p>
            <p class="card-text">
                Ось деякі з основних переваг використання Chameleon Admin:
                <ul>
                    <li>
                        Швидкість і простота створення інтерфейсів - Chameleon Admin включає в себе широкий спектр готових 
                        компонентів, які можна використовувати для швидкого і простого створення складних інтерфейсів.
                    </li>
                    <li>
                        Можливість налаштування - Chameleon Admin має модульний дизайн, який дозволяє легко налаштовувати 
                        шаблон відповідно до ваших потреб.
                    </li>
                    <li>
                        Сучасний дизайн - Chameleon Admin використовує останні версії Bootstrap, щоб забезпечити сучасний і 
                        стильний дизайн ваших інтерфейсів.
                    </li>
                    <li>
                        Якщо ви шукаєте шаблон для створення сучасного і стильного інтерфейсу для свого веб-сайту або веб-додатку,
                        Chameleon Admin є хорошим вибором.
                    </li>
                </ul>
            </p>
            <p class="card-text">
                <strong>Більш детальніше про Entity Framework Core: <a href="https://demos.themeselection.com/chameleon-admin-template/documentation/">https://demos.themeselection.com/chameleon-admin-template/documentation/</a></strong>
            </p>
        </div>
    </div>
</div>