<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

  @await Html.PartialAsync("HeadPartial.cshtml");

  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">

    <!-- Верхня фіксована панель -->
    @await Html.PartialAsync("TopNavPartial.cshtml");
    <!-- Кінець верхньої панелі -->

    <!-- Бокова панель -->
    @await Html.PartialAsync("RightNavPartial.cshtml");
    <!-- Кінець бокової панелі -->



    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    Не дороблено опрацювання натисканя кнопки, яка надсилає фото на сервер.
    Також не має логіки для кнопки зробити фото. -->
    <!-- Головна частина сторінки -->
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-body">

            @RenderBody()

        </div>
      </div>
    </div>
    <!-- Кінець головної частини сторінки -->



    <!-- Підвал сайту -->
    @await Html.PartialAsync("FooterPartial.cshtml");
    <!-- Кінецб підвалу -->

    <!-- Підключення скриптів -->
    @await Html.PartialAsync("ScriptsPartial.cshtml");
    <!-- Кінець підключення -->
  </body>
</html>