#uploadedImage, #processedImg {
    max-width: 100%;
    max-height: 700px; /* Встановіть бажану максимальну висоту */
    display: block;
    margin: 20px auto; /* Вирівнювання по центру */
}

#saveLink{
    color: white;
}

.colorListEl{
    display: flex;
    justify-content: space-around;
}

.colorCell {
    width: 200px;
    height: 25px;
}