@{
    ViewData["Title"] = "Home Page";
}
@model WebImageProcessor.ViewModel.HomePageViewModel

<!-- Опис функціоналу -->
<div class="card">
    <div class="card-content">
        <div class="card-body">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h1>Ласкаво просимо до Photo Analyzer</h1>
                        <p>
                            Цей веб застосунок створений для обробки та аналізу ваших фотографій. Виберіть або зробіть фото,
                            після чого натисніть кнопку опрацювати зображення і застосунок видасть інформацію по вашому зображеню.
                        </p>
                        <button class="btn btn-primary" id="uploadBtn">Завантажити фото</button>
                        <button class="btn btn-success" id="captureBtn">Зробити фото</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="imageContainer" style="display: none;">
    <div class="card-content">
        <div class="card-body">
            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h4>Ваше фото</h4>
                        <!-- Додаємо форму для завантаження фотографії -->
                        <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
                            <!-- Додаємо input для вибору файлу -->
                            <img id="uploadedImage" src="#" alt="Завантажене фото"><br />
                            <input type="file" id="imageFile" accept="image/*" name="file" style="display: none;" />
                            <!-- Кнопка для відправки фото на сервер -->
                            <button id="sendPhotoButton" class="btn btn-primary" type="submit">Опрацювати фото</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Вікно для захоплення фото за допомогою камери -->
<div class="card" id="cameraContainer" style="display: none;">
    <div class="card-content">
        <div class="card-body">
            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h4>Ваша камера</h4>
                        <video id="cameraStream" autoplay></video><br />
                        <button id="takePhotoButton" class="btn btn-primary">Зробити фото</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if(Model != null)
{
    <!--Вікно для обролених фото-->
    <div class="card" id="processedImageBlock">
        <div class="card-content">
            <div class="card-body">
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <h4>Опрацьоване фото</h4>
                            <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Image))" id="processedImg" alt="Опрацьована фотографія" />
                            <br />
                            <a id="saveLink" class="btn btn-primary" download>Зберегти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4>Знайдені об'єкти</h4>
            <ul class="list-group list-group-light">
                @foreach(var obj in Model.Objects)
                {
                    <li class="list-group-item text-center">@obj</li>
                }              
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Середнє значення кольорів у виділених зонах</h4>
            <ul class="list-group list-group-light">
                @foreach (var color in Model.Colors)
                {
                    <li class="list-group-item">
                        <div class="colorListEl">
                            <div>#@color</div>
                            <div class="colorCell" style="background-color: #@color"></div>
                        </div>
                    </li>                  
                }
            </ul>
        </div>
    </div>
}